<!DOCTYPE html>
<html>
<head>
<title>blog</title>
<style type="text/css">
.content{width: 1000px;margin: 0 auto;}
.navi{float: left;}
.navi ul li{list-style: none;line-height: 250%;}
.navi ul li a{color: blue;text-decoration: none;}
.blog_list{float: right;border-top: 1px solid #ccc;width: 800px;}
.blog_msg h3{width: 285px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;color: #42C007;float: left;}
.blog_msg i.tip{font-size: 12px;font-weight: bold;color: #ccc;margin-top: 25px;float: left;}
.blog_msg h4{margin:0;clear: both;color: #0AEBAC;}
.blog_img{float: left;border-radius: 5px;border: 1px solid #ccc;padding: 3px;margin-top: 30px;}
.blog_msg{float: left;width: 500px;margin-left: 50px;}
.blog_content *{float: left;}
.comment{color: #0AEBAC;}
.page{float: right;border: 1px solid #ccc;border-left: 0;margin-top: 20px;}
.page ul{display: inline;}
.page ul li{list-style: none;float: left;font-size: 14px;padding: 2px;border-left: 1px solid #ccc;}
.page ul li a{color: blue;text-decoration: none;}
</style>
<script src='jquery-1.11.1.min.js'></script>
</head>
<body>
	<div class="content">
		<div class="navi">
			<ul>
				<li>
					<a href="index.html">Home</a>
				</li>
				<li>
					<a href="#">About</a>
				</li>
				<li>
					<a href="#">Blog</a>
				</li>	
			</ul>
			<div style="clear:both;"></div>
		</div>	
		<div class="blog_list">
			<!-- {% for blog in blogs %} -->
			<div class='blog_detail'>
				<div class="blog_img"><img src="1.jpg" /></div>
				<!-- <div class="blog-img"><img src={{blog.thumb_url}} /></div> -->
				<div class="blog_msg">
					<a href='#'><h3>
						A body on the beach A body on the beachA body on the beachA body on the beach
						<!-- <a href='#'>{{blog.title}}  </a>-->
					</h3></a>
					<i class="tip">by Mountain Observers</i>
					<!-- <i class="tip">by {{blog.author}}</i> -->
					<h4>United Nations</h4>
					<div class="blog_content">
						<p>
							<i class="publish_time" data-time="2014-11-19 18:00:00"></i>
							<!-- <i class="publish_time" data-time="{{blog.publish_time}}"></i> -->
							&nbsp;- A body on the beachA body on the beachA body on the beachA body on the beachA body on the beachA body on the beachA body on the beachA body on the beachA body on the beachA body on the beachA body on the beachA body on the beachA body on the beachA body on the beachA body on the beachA body on the beachA body on the beachA body on the beachA body on the beachA body on the beachA body on the beachA body on the beachA body on the beachA body on the beachA body on the beachA body on the beachA body on the beach
						</p> 
						<!-- <p>{{blog.content}}</p> -->
						<a href='#'><div class="comment"><img src="comment.jpg" />&nbsp;1</div></a>
						<!-- <div class="people"><img src="comment.jpg" />&nbsp;{{blog.comment_count}}</div> -->
					</div>
				</div>
				<div class="page">
					<ul>
					    <li><a href=""><<</a></li>
					    <li><a href="?page=1">1</a></li>
					    <li><a href="?page=2">2</a></li>
					    <li><a href="">>></a></li>  
					</ul>
				</div>
			<div>
			<!-- {%endfor%} -->
		<div>
	</div>
</body>
<script>
	function getTimeAgo(startTime) {
		startTime = startTime.replace(/\-/g, "/");
		var sTime =new Date(startTime);
		var eTime =new Date(); 
		var divNum =1;
		var time_delta = parseInt((eTime.getTime() - sTime.getTime())/1000);
		console.log(time_delta);
		console.log(time_delta/(60*60*24));
		if(time_delta>60*60*24 && time_delta<60*60*24*30){
			return parseInt(time_delta/(60*60*24))+' days ago'
		}
		if(time_delta<=60*60*24&&time_delta>=60*60){
			return parseInt(time_delta/(60*60))+' hours ago'
		}
		if(time_delta>60*60*24*30 && time_delta<60*60*24*30*12){
			return parseInt(time_delta/(60*60*24*30)) + ' months ago'
		}
		if(time_delta<60*60){
			return parseInt(time_delta/(60)) + ' minutes ago'
		}
	}
	$('.publish_time').each(function(){
		console.log($(this));
		var time_desc = getTimeAgo($(this).data("time"));
		console.log(time_desc);
		$(this).text(time_desc)
	});
	$('.blog_content p').each(function(){
		var text = $(this).text();
		if(text.length>250){
			$(this).text(text.substring(0,250)+'...');
		}
	})
</script>
</html>
